@model IEnumerable<SBDProjekt.Models.DiscountedProduct>

@{
    ViewData["Title"] = "Home Page";
}
<h2>Promocje!</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                Old price
            </th>
            <th>
                After discount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            double discountPrice = Math.Round(item.Product.Price * (100 - item.Discount) /100, 2);
            <tr>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </a>
                </td>
                <td>
                    <del>@Html.DisplayFor(modelItem => item.Product.Price)</del>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => discountPrice)
                </td>
            </tr>
        }
    </tbody>
</table>

