@model IEnumerable<SBDProjekt.Models.OrderedProduct>

@{
    ViewData["Title"] = "Cart";
}

<h1>Your Cart</h1>

@{
    if (Model != null && Model.ToArray().Length > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.Price)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Price)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                            <a asp-action="RemoveFromCart" asp-route-productId="@item.ProductId">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <th>Total:</th>
                    <th>@Math.Round(Model.Sum(item => item.Quantity * item.Product.Price), 2)</th>
                </tr>
            </tfoot>
        </table>

        <a asp-controller="Orders" asp-action="Create">Order</a>
    }
    else
    {
        <h4>You haven't added anything to your cart yet</h4>
    }
}


