@model SBDProjekt.Models.DetailsProductViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product Details</h1>

<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Index">Back to List</a>
    }
</div>

<div>
    <link href="~/css/product.css" rel="stylesheet" />
    <div class="home-container">
        <img alt="image"
             src="~/product.png"
             class="home-image" />
        <span class="home-text6">
            @Html.DisplayFor(model => model.Name)
        </span>
        <span class="home-text2">Price:</span>
        <span class="home-text">
            @Html.DisplayFor(model => model.Price)
        </span>
        <span class="home-text1">Category:</span>
        <span class="home-text4">
            @Model.CategoryName
        </span>
        <span class="home-text5">Producer:</span>
        <span class="home-text3">
            @Model.ManufacturerName
        </span>
        <form asp-action="AddToFavourites"
              asp-route-productId="@Model.Id">
            <button type="submit"> LIKE </button>
        </form>

        <input type="button" id="addToCartBtn" value="Add to cart" />

        <div class="home-container1">
            @*<div class="home-container2"></div>
                <div class="home-container3"></div>*@
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OpinionList[0].Rating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OpinionList[0].Content)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OpinionList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#addToCartBtn").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Products/AddToCart",
                    data: { "productId": @Model.Id },
                    success: function (response) {
                        //alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>
}
