@model SBDProjekt.Models.DetailsProductViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit | </a> 
        <a asp-controller="DiscountedProducts" asp-action="Create" asp-route-productId="@Model.Id">Add to sale | </a>
        <a asp-action="Index">Back to List</a>
    }
</div>

<dl class="row">
    <dt class="col-sm-2 h1">
       @Model.Name
    </dt>
    <dd class="col-sm-10 h3">
        <form asp-action="AddToFavourites"
              asp-route-productId="@Model.Id">
            <button type="submit"> LIKE </button>
        </form>
    </dd>
</dl>

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-2">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dd class="col-sm-8">
                <input type="button" id="addToCartBtn" value="Add to cart" />
            </dd>
            <dt class="col-sm-2">
                Category
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt class="col-sm-2">
                Manufacturer
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ManufacturerName)
            </dd>
        </dl>
    </div>
    <div>
        Comments |
        <a asp-action="Create"
           asp-controller="Opinions"
           asp-route-productId="@Model.Id"> Add your opinion</a>
    </div>
    @if (Model.OpinionList == null || Model.OpinionList.Count <= 0)
    {
        <h4>There are no comments yet</h4>
    }
    else
    {
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OpinionList[0].Rating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OpinionList[0].Content)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OpinionList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <td>
                                    <a asp-controller="Opinions" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    @section Scripts {
        <script type="text/javascript">
        $(function () {
            $("#addToCartBtn").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Products/AddToCart",
                    data: { "productId": @Model.Id },
                    success: function (response) {
                        //alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
        </script>
    }
