@model SBDProjekt.Models.ViewModels.DetailsSaleViewModel
 
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@if (Model.DiscountedProducts == null || Model.DiscountedProducts.Count <= 0)
{
    <h4>There are no products on this sale</h4>
}
else
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>@nameof(SBDProjekt.Models.Product)</th>
                    <th>Original @Html.DisplayNameFor(model => model.DiscountedProducts.FirstOrDefault().Price)</th>
                    <th>@Html.DisplayNameFor(model => model.Discounts.FirstOrDefault().Discount)</th>
                    <th>Sale price</th>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Discounts)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => product.Product.Name)</td>
                    <td>@Html.DisplayFor(modelItem => product.Product.Price)</td>
                    <td>@Html.DisplayFor(modelItem => product.Discount)</td>
                    <td>@Math.Round(product.Product.Price * (100-product.Discount)/100,2)</td>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-controller="DiscountedProducts"
                               asp-action="Edit"
                               asp-route-productId="@product.ProductId"
                               asp-route-saleId="@Model.Id">
                                Edit |
                            </a>
                            <a asp-controller="DiscountedProducts"
                               asp-action="Delete"
                               asp-route-id="@product.ProductId"
                               asp-route-saleId="@Model.Id">
                                Delete
                            </a>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
}
